<h1>KNXD Visu</h1>


<div fxLayout fxLayoutGap="24px">
    <mat-card fxFlex>
        <mat-card-header>
            <mat-card-title>Express + Angular</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>Using Express a Server BE</mat-list-item>
                <mat-list-item>Connecting to knxd socker</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex>
        <mat-card-header>
            <mat-card-title>EIBS Sockets</mat-card-title>
        </mat-card-header>

    </mat-card>
</div>